/* <<< FOLHA DE ESTILO DO TECNOLOGIA >>>  */

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --texto-principal: #000000;
    --links-normal: #5d6162;;
    --links-sobre: #989fa1;
    --links-click: #083fff;
    --fonte-principal: 'Montserrat', sans-serif; 
    --fonte-secundaria: 'Inter', sans-serif;
    --fonte-tercearia: 'Raleway', sans-serif;
}

/* <<< MEDIA QUERY - DESKTOP >>> */

.cabecalho{
    padding: 2% 17% 0% 0%;
    /*background-color:beige;*/
}

.cabecalho__menu{
    display: flex;
    gap: 25px;
    justify-content: right;
    /*background-color:rgb(197, 224, 247)*/
}

.cabecalho__menu__link{
    font-family: var(--fonte-principal);
    font-size: 17px;
    font-weight: 600;
    color: var(--links-normal); 
    text-decoration: none;
    transition-duration: 0.5s;
}

.cabecalho__menu__link:hover {
    color: var(--links-sobre);
}

.principal {
    color: var(--texto-principal);
    /*background-color: antiquewhite;*/
}

.grid-container {
    padding: 0% 60% 0% 15%;
    display: grid;
    grid-template-columns: auto auto;
    /*background-color: #122e45;*/
}

.grid-container > div {
    text-align: center;
    /*background-color: rgba(212, 16, 16, 0.8);*/
}

.item1 {
    grid-row: 1 / span 3;
    padding: 0% 0% 0% 5%;
}

.titulo {
    font-weight: 600;
    font-family: var(--fonte-principal);
    font-size: 20px;
    padding: 12% 0% 0% 0%;
    /*background-color:aquamarine;*/
}

.nick {
    font-family: var(--fonte-principal);
    font-size: 18px;
    font-weight: lighter;
    padding-top: 0;
    /*background-color: rgb(127, 255, 168);*/
}

.barra_navegacao {
    list-style-type: none;
    margin: 70px 300px 0 300px;
    padding: 0;
    overflow: hidden;
    /*border: 1px solid #e7e7e7;
    background-color: #f3f3f3;*/
    font-family: var(--fonte-principal);
    font-weight: 600;
    font-size: 18px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
  
.item_barra {
    float: left;
}
  
.item_barra > a,p {
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition-duration: 0.5s;
}
  
.item_barra > a:hover:not(.active) {
    color: var(--links-click);
}
  
a.active {
    color: white;
    background-color: #04AA6D;
}

.footer {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 1% 0 0.5% 0;
}

.footer_lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    font-family: var(--fonte-principal);
    font-size: 12px;
    padding: 0 0 1em 0;
}

.copyright {
    padding-right: 0.5em;
}